**/*.DS_Store
**/*eps-converted-to.pdf
doc/images/logo-eps-converted-to.pdf
doc/images/trivadis.fdb_latexmk
doc/images/trivadis.fls
doc/images/trivadis.log
doc/images/trivadis.aux
doc/images/logo-eps-converted-to.pdf
doc/images/logo-eps-converted-to.pdf
